# OS / Editors
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Dependencies
node_modules/
package-lock.json

# Builds
dist/
build/

# Environment / Secrets
.env
.env.*.local
*.local
key.json
*.key
.sui/
sui-config/
id_sui*
password

# Logs
*.log
npm-debug.log*

# Contract artifacts
contracts/**/build/
contracts/**/traces/
contracts/**/Pub.*.toml
